.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: #eedcc0;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  resize: horizontal;
  min-width: 150px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.map-container {
  flex-grow: 1; /* allow the map to grow */
  height: 100%;
}

.search-box-wrapper {
  flex-shrink: 0;
}

.search-box-container {
  position: relative;
  width: 100%;
}

.search-box {
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 100%; /* Adjust width to fit within the sidebar */
  height: 32px;
  margin-top: 10px;
  padding: 0 12px 0 36px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
  text-overflow: ellipses;
}

.search-box-icon {
  position: absolute;
  top: 25px;
  left: 5px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.place-info-wrapper {
  flex-grow: 1;
  margin-top: 15px;
  overflow-y: auto;
}

.place-info {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid transparent;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}